<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agarta</title>
    <script type="importmap"></script>

    <!-- Styleslar -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarGalleryHub.MVC.styles.css" asp-append-version="true" />

    <!-- Fontlar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

</head>
<body>
    @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
        string jwtToken = HttpContextAccessor.HttpContext?.Session.GetString("JwtToken");
        string userName = HttpContextAccessor.HttpContext?.Session.GetString("UserName");
        string userRole = HttpContextAccessor.HttpContext?.Session.GetString("UserRole");
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  BG-SmoothPass box-shadow pb-3 mb-5">

            <div class="container-fluid BG-Transparent">
                <a class="navbar-brand Pure-White BrandText-Style" style="font-family: 'Black Ops One'" asp-area="" asp-controller="Home" asp-action="Index">Agarte ADMIN</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Navigasyonu Aktif Et">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse BG-Transparent collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-md-flex align-items-center gap-2 justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="Admin" asp-controller="Adverts" asp-action="Index">İlanlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="Admin" asp-controller="Brands" asp-action="Index">Markalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="Admin" asp-controller="Cars" asp-action="Index">Araba Modelleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="Admin" asp-controller="Users" asp-action="Index">Arabalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="Admin" asp-controller="Users" asp-action="Index">Kullanıcılar</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 d-md-flex align-items-center justify-content-end">
                        @if (!string.IsNullOrEmpty(userName))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle pe-2 ps-2 Pure-White me-4 dropfocus" style="color: white !important; font-family: 'quicksand'; cursor: pointer;" data-bs-toggle="dropdown">@userName!</a>

                                <ul class="dropdown-menu BG-ViolentBlack BG-Menu border-0 p-2" style="right: 10px; min-width: 160px;">
                                    <li><a class="dropdown-item droplink btnt Pure-Gray py-2 px-3" href="/profile">Profil</a></li>
                                    <li><a class="dropdown-item droplink btnt Pure-White py-2 px-3" href="/security">Güvenlik</a></li>
                                    <li><a class="dropdown-item droplink btnt Pure-White py-2 px-3" href="/addresses">Adreslerim</a></li>
                                    <li><a class="dropdown-item droplink btnt Pure-White py-2 px-3" href="/orders">Siparişlerim</a></li>
                                    <li><a class="dropdown-item droplink btnt Pure-White py-2 px-3" href="/cart">Sepetim</a></li>

                                    @if (!string.IsNullOrEmpty(userRole) && userRole == "Admin")
                                    {
                                        <li><hr class="dropdown-divider border-secondary my-2" /></li>
                                        <li class="px-2">
                                            <a class="dropdown-item droplink btnt Pure-White text-center rounded-pill border border-white py-1" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Kullanıcı Modu</a>
                                        </li>
                                    }

                                    <li><hr class="dropdown-divider border-secondary my-2" /></li>
                                    <li><a class="dropdown-item redlink btnt text-danger py-2 px-3" asp-controller="Account" asp-action="Logout">Çıkış Yap</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link Pure-White" style="font-family: 'quicksand'" asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link Pure-White" style="font-family: 'quicksand'" asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>


    <div class="container div-black mt-5">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
