@if (TempData["successMessage"] != null && !string.IsNullOrWhiteSpace(TempData["successMessage"]?.ToString()))
{
    <div class="alert-luxury-success mb-4 text-center">@TempData["successMessage"]</div>
}
@if (TempData["errorMessage"] != null && !string.IsNullOrWhiteSpace(TempData["errorMessage"]?.ToString()))
{
    <div class="alert-luxury-error mb-4 text-center">@TempData["errorMessage"]</div>
}