@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center div-black">
    <h1 class="Pure-White Attention-SizedText Text-Bold" style="font-family: 'Audiowide'; font-weight: 400; font-style: normal;">
        AGARTE <br />
        <p class="Pure-Gray Smaller-Attention-SizedText my-2">PREMIUM GALLERY FOR </p><b class="Showcase-Gold"><i style="padding-right: 5px;">THE RICH</i></b>
    </h1>

</div>
