@model CarGalleryHub.Application.DTOs.Auth.LoginRequestDto
@{
    ViewData["Title"] = "Login to Agarte";
}

<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="d-flex flex-column gap-4 border-1 border-black rounded-1 w-50 p-3 border-1 border-white" style="justify-self: center; align-self:center;">
        <div>
            <label class="form-label" style="color: white !important;" asp-for="Email">Email</label>

            <input required asp-for="Email" class="form-control" style="color: black !important;" type="email" placeholder="example@gmail.com" value="Kingston@gmail.com" />

            <span class="text-danger d-block" asp-validation-for="Email"></span>
        </div>

        <div>
            <label class="form-label" style="color: white !important;" asp-for="Password">Password</label>

            <input required asp-for="Password" class="form-control" style="color: black !important;" type="password" placeholder="********" value="SuperGizliSifre" />

            <span class="text-danger d-block" asp-validation-for="Password"></span>
        </div>

        <input type="submit" value="Giriş Yap" class="form-control" style="width: 50%;" />
    </div>
</form>