@model CarGalleryHub.Application.DTOs.User.Profile.ProfileViewData
@{
    ViewData["Title"] = "Profil";
}

<form asp-controller="Account" asp-action="ChangeProfile" method="post"
 class="w-100 d-flex justify-content-center align-items-center">
    <div class="w-50 border border-1 border-primary-subtle rounded-1 p-5 d-flex flex-column gap-3">
        <div class="ms-4 d-flex flex-column"
             style="align-self: start">
            <label class="QuickSand form-label Pure-White">Profil Resmi:</label>
            <img src="@(Model?.ImageUrl ?? "https://ltrf.org/wp-content/uploads/2023/07/blank-profile-picture-973460-1-1-1024x1024-1-300x300.png")"
                 width="350"
                 height="350" class="rounded-5 " />
            <div>
                <label class="QuickSand form-label Pure-White" asp-for="ImageUrl">Resmi Değiştir:</label>
                <input class="QuickSand form-control" asp-for="ImageUrl" type="text" accept=".jpeg,.jpg,.png,.webm" />
            </div>
        </div>

        <div class="w-50 ms-4" style="align-self: start">
            <label class="QuickSand form-label Pure-White" asp-for="FirstName">Adın:</label>
            <input class="QuickSand form-control" asp-for="FirstName" type="text" value="@(Model?.FirstName ?? string.Empty)" placeholder="(Giriniz)" />
        </div>
        <div class="w-50 ms-4" style="align-self: start">
            <label class="QuickSand form-label Pure-White" asp-for="LastName">Soyadın:</label>
            <input class="QuickSand form-control" asp-for="LastName" type="text" value="@(Model?.LastName ?? string.Empty)" placeholder="(Giriniz)" />
        </div>

        <div class="row justify-content-center">
            <div class="col-4 d-flex">
                <input type="submit" value="Güncelle" class="form-control w-auto " />
                <button type="button" onclick="history.back()" class="btn btn-secondary mt-2">Geri Dön</button>
            </div>
        </div>
    </div>
</form>
