@model CarGalleryHub.Application.DTOs.Auth.RegisterRequestDto
@{
    ViewData["Title"] = "Register to Agarte";
}


<form asp-controller="Account" asp-action="Register" method="post" class="BG-Menu w-50 ToCenter">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3 ToCenter"></div>

    <div class="d-flex flex-column gap-3 w-75 ToCenter">
        <h2 class="ToCenter Pure-White" style="font-family: 'Audiowide'; font-weight: 600; letter-spacing: 2px">Kayıt</h2>
        <div>
            <label class="form-label text-white" style="opacity: 0.7;" asp-for="FirstName">Ad</label>

            <input required asp-for="FirstName" class="form-control inputfocus BG-ViolentBlack text-white-50" type="text" placeholder="Ör. Mehmet" value="" />

            <span class="text-danger d-block" asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label class="form-label text-white" style="opacity: 0.7;" asp-for="LastName">Soyad</label>

            <input required asp-for="LastName" class="form-control inputfocus BG-ViolentBlack text-white-50" type="text" placeholder="Ör. Yılmaz" value="" />

            <span class="text-danger d-block" asp-validation-for="LastName"></span>
        </div>
        <div>
            <label class="form-label text-white" style="opacity: 0.7;" asp-for="Email">Email</label>

            <input required asp-for="Email" class="form-control inputfocus BG-ViolentBlack text-white-50" type="email" placeholder="example@gmail.com" value="" />

            <span class="text-danger d-block" asp-validation-for="Email"></span>
        </div>
        <div>
            <label class="form-label text-white" asp-for="Password">Password</label>

            <input required asp-for="Password" class="form-control inputfocus BG-ViolentBlack text-white-50" type="password" placeholder="********" value="" />

            <span class="text-danger d-block" asp-validation-for="Password"></span>
        </div>
        <br />
        <input type="submit" value="Kayıt Ol" class="form-control border-0 Text-Bold text-white btnt BG-Gold ToCenter" style="width: 50%; letter-spacing: 1px;" />
    </div>
</form>