@model CarGalleryHub.MVC.Models.DTOs.Advert.AdvertViewDto
@{
    ViewData["Title"] = "Advert Update";
}

<form asp-controller="Adverts" asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="d-flex flex-column gap-3 w-50">
        <div>
            <label class="form-label" style="color: white !important;font-family:'Quicksand'; font-weight: 500">İlan Başlığı</label>
            <input asp-for="updateAdvert.AdvertTitle" class="form-control" style="color: white !important;" placeholder="Başlık" />
            <span asp-validation-for="updateAdvert.AdvertTitle" class="text-danger mb-3"></span>
        </div>

        <div>
            <label class="form-label" style="color: white !important;font-family:'Quicksand'; font-weight: 500">Açıklama</label>
            <textarea asp-for="updateAdvert.Description" class="form-control" style="color: white !important;" placeholder="Açıklama">

            </textarea>
            <span asp-validation-for="updateAdvert.Description" class="text-danger mb-3"></span>
        </div>

        <div>
            <label class="form-label" style="color: white !important;font-family:'Quicksand'; font-weight: 500">Fiyat</label>
            <input asp-for="updateAdvert.UnitPrice" class="form-control" style="color: white !important;" placeholder="örn: 10.000₺" />
            <span asp-validation-for="updateAdvert.UnitPrice" class="text-danger mb-3"></span>
        </div>

        <div>
            <label class="form-label" style="color: white !important;font-family:'Quicksand'; font-weight: 500" >Araba </label>
            <select required class="form-control" asp-for="carModels">
                <option value="">-- Araba Seçin --</option>
                @if (Model.carModels != null)
                {
                    foreach (var info in Model.carModels)
                    {
                        <option value="@info.Id">@info.FullName</option>
                    }
                }
            </select>
            <span asp-validation-for="updateAdvert.AdvertTitle" class="text-danger mb-3"></span>
        </div>

        <div>
            <label class="form-label" style="color: white !important;font-family:'Quicksand'; font-weight: 500">Image Url</label>
            <input asp-for="updateAdvert.ImageUrl" class="form-control" style="color: white !important;" placeholder="örn: 10.000₺" />
            <span asp-validation-for="updateAdvert.ImageUrl" class="text-danger mb-3"></span>
        </div>

        <div class="d-flex flex-row g-5 w-50" style="justify-self:center; align-self:center">
            <input type="submit" value="Gönder" style="font-family:'Quicksand'; font-weight: 500" class="form-control" />
            <button type="button" style="font-family:'Quicksand'; font-weight: 500" onclick="history.back()" class="btn btn-secondary mt-2">Geri Dön</button>
        </div>
    </div>


</form>

