<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarGalleryHub.MVC</title>
    <script type="importmap"></script>

    <!-- Styleslar -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarGalleryHub.MVC.styles.css" asp-append-version="true" />

    <!-- Fontlar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark  BG-SmoothPass box-shadow pb-3 mb-5">

            <div class="container-fluid BG-Transparent">
                <a class="navbar-brand Pure-White BrandText-Style" style="font-family: 'Black Ops One'" asp-area="" asp-controller="Home" asp-action="Index">Agarte Gallery</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Navigasyonu Aktif Et">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse BG-Transparent collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 d-md-flex align-items-center gap-2 justify-content-start">
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="" asp-controller="Home" asp-action="Index">İlanlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="" asp-controller="Home" asp-action="Index">Vitrin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="" asp-controller="Home" asp-action="Index">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White Text-Bold" style="font-family: 'quicksand'" asp-area="" asp-controller="Home" asp-action="Index">İletişim</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 d-md-flex align-items-center justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link Pure-White" style="font-family: 'quicksand'" asp-area="" asp-controller="Home" asp-action="Index">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link Pure-White" style="font-family: 'quicksand'" asp-area="" asp-controller="Home" asp-action="Index">Kayıt Ol</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container div-black mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
