@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-luxury-success mb-4 text-center">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert-luxury-error mb-4 text-center">@TempData["ErrorMessage"]</div>
}